{% extends 'registration/base.html' %}
{% load static %}
{% block title %}{{title}}{% endblock %}

{% block content %}
           <!-- Form -->
           <form action="" method="post">
            {% csrf_token %}
            <div class="text-center">
                <div class="mb-5">
                    <h1 class="display-5">Сброс пароля</h1>
                    <p>Введите свою почту для сброса пароля</p>
                </div>
            </div>
            
                        {% if form.non_field_errors %}
                            <div class="alert alert-soft-danger" role="alert">
                                {% for error in form.non_field_errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                        
                        <!-- Form -->
                        <div class="mb-4">
                            <input type="email" name="email" autocomplete="email" maxlength="254" required id="id_email" class="form-control form-control-lg" placeholder="example@example.com">
                            
                            {% if form.email.errors %}
                                <div class="alert alert-soft-danger" role="alert">
                                    {% for error in form.email.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <!-- End Form -->
        
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-lg">Сбросить пароль</button>
                            <div class="text-center">
                                <div class="mt-3 mb-5">
                                  <p class="small">Вернуться назад? <a class="link" href="{% url 'signin' %}">страница входа</a></p>
                                </div>
                              </div>
                        </div>
                    </form>
                    <!-- End Form -->
        
{% endblock %}