{% extends 'registration/base.html' %}
{% load static %}
{% block title %}{{title}}{% endblock %}

{% block content %}
<div class="text-center">
  <div class="mb-5">
    <h1 class="display-5 mb-5">Отправлен письмо на сброс пароля</h1>
    <p>Мы отправили вам инструкции по установке нового пароля на ваш адрес электронной почты, если учетная запись с таким адресом существует. Вы должны их получить в ближайшее время.
      <br></br>
      Если вы не получили письмо, убедитесь, что введен правильный адрес, который вы использовали при регистрации, и проверьте папку со спамом.
    </p>
  </div>
</div>
{% endblock %}