{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Title -->
  <title>{% block title %}Technoguru{% endblock %}</title>
  <link rel="shortcut icon" href="{% static 'img/logo/technoguru.png' %}">
  <!-- Font -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="{% static 'assets-admin/vendor/bootstrap-icons/font/bootstrap-icons.css' %}">

  <!-- CSS Front Template -->
  <link rel="preload" href="{% static 'assets-admin/css/theme-dark.min.css' %}" data-hs-appearance="default" as="style">
  <link rel="preload" href="{% static 'assets-admin/css/theme-dark.min.css' %}" data-hs-appearance="dark" as="style">
  {% block link-css %}{% endblock %}
  {% include 'customizer/base/onload-styles&script.html' %}

</head>
<body class="">
  <script src="{% static 'assets-admin/js/hs.theme-appearance.js' %}"></script>

  <!-- ========== HEADER ========== -->
  <header class="position-absolute top-0 start-0 end-0 mt-3 mx-3">
    <div class="d-flex d-lg-none justify-content-between">
    </div>
  </header>
  <!-- ========== END HEADER ========== -->

  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main" class="main pt-0">
    <!-- Content -->
    <div class="container-fluid px-3">
      <div class="row">
        <div class="col-lg-6 d-none d-lg-flex justify-content-center align-items-center min-vh-lg-100 position-relative bg-light px-0">
          <div style="max-width: 23rem;">
            <div class="mb-5  text-center">
              
                <img class="w-100" src="{% static 'img/logo/technoguru.png' %}" alt="technoguru" style="min-width: 6rem; max-width: 6rem;">
              
                <h2 class="display-5 mt-3">Личный кабинет Technoguru</h2>
                <p class="lead">Управляйте внешним видом вашей школы, делая его уникальным и привлекательным для посетителей.</p>
                
            </div>
          </div>
        </div>
        <!-- End Col -->

        <div class="col-lg-6 d-flex justify-content-center align-items-center min-vh-lg-100">
          <div class="w-100 content-space-t-4 content-space-t-lg-2 content-space-b-1" style="max-width: 25rem;">
           <!-- Form -->
<form action="{% url 'password_reset' %}" method="post">
    {% csrf_token %}
    <div class="text-center">
        <div class="mb-5">
            <h1 class="display-5">Сброс пароля</h1>
            <p>Введите свою почту для сброса пароля</p>
        </div>
    </div>
    
                {% if form.non_field_errors %}
                    <div class="alert alert-soft-danger" role="alert">
                        {% for error in form.non_field_errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
                
                <!-- Form -->
                <div class="mb-4">
                    <input type="email" name="email" autocomplete="email" maxlength="254" required id="id_email" class="form-control form-control-lg" placeholder="example@example.com">
                    
                    {% if form.email.errors %}
                        <div class="alert alert-soft-danger" role="alert">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <!-- End Form -->

                <div class="d-grid">
                    <button type="submit" class="btn btn-primary btn-lg">Сбросить пароль</button>
                </div>
            </form>
            <!-- End Form -->

          </div>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Content -->
  </main>
  <!-- ========== END MAIN CONTENT ========== -->

   
  <!-- JS Global Compulsory  -->
  <script src="{% static 'assets-admin/vendor/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'assets-admin/vendor/jquery-migrate/dist/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'assets-admin/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>

  <!-- JS Implementing Plugins -->
  <script src="{% static 'assets-admin/vendor/hs-navbar-vertical-aside/dist/hs-navbar-vertical-aside.min.js' %}"></script>

  <!-- JS Front -->
  <script src="{% static 'assets-admin/js/theme.min.js' %}"></script>

{% block my_scripts %}
{% endblock %}

</body>
</html>