{% extends 'registration/base.html' %}
{% load static %}
{% block title %}{{title}}{% endblock %}

{% block content %}
<!-- Form -->
<form action="" method="post">
  <div class="text-center">
      <div class="mb-5">
          <h1 class="display-5">Введите новый пароль</h1>
          <p>Пожалуйста, введите ваш новый пароль дважды, чтобы мы могли убедиться, что вы правильно его ввели.</p>
      </div>
  </div>
  {% csrf_token %}
  
  {% if form.non_field_errors %}
      <div class="alert alert-soft-danger mb-2" role="alert">
          {% for error in form.non_field_errors %}
              <span>
                  {% if error == "The two password fields didn't match." %}
                      Пароли не совпадают.
                  {% elif error == "This password is too short. It must contain at least 8 characters." %}
                      Пароль слишком короткий. Он должен содержать не менее 8 символов.
                  {% elif error == "This password is too common." %}
                      Пароль слишком простой. Пожалуйста, выберите более сложный пароль.
                  {% elif error == "This password is entirely numeric." %}
                      Пароль не должен состоять только из цифр.
                  {% else %}
                      {{ error }}
                  {% endif %}
              </span>
          {% endfor %}
      </div>
  {% endif %}
  
  <!-- Form -->
  <div class="mb-4">
      <label class="form-label w-100" for="id_new_password1" tabindex="0">
          <span class="d-flex justify-content-between align-items-center">
              <span>Новый пароль</span>
          </span>
      </label>
      <div class="input-group input-group-merge">
          <input class="js-toggle-password form-control form-control-lg" type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" aria-autocomplete="list" placeholder="8+ символов">
      </div>
      {% if form.new_password1.errors %}
          <div class="alert alert-soft-danger mt-2" role="alert">
              {% for error in form.new_password1.errors %}
                  <span>
                      {% if error == "This password is too short. It must contain at least 8 characters." %}
                          Пароль слишком короткий. Он должен содержать не менее 8 символов.
                      {% elif error == "This password is too common." %}
                          Пароль слишком простой. Пожалуйста, выберите более сложный пароль.
                      {% elif error == "This password is entirely numeric." %}
                          Пароль не должен состоять только из цифр.
                      {% else %}
                          {{ error }}
                      {% endif %}
                  </span>
              {% endfor %}
          </div>
      {% endif %}
  </div>
  <!-- End Form -->
  
  <!-- Form -->
  <div class="mb-4">
      <label class="form-label w-100" for="id_new_password2" tabindex="0">
          <span class="d-flex justify-content-between align-items-center">
              <span>Пароль еще раз</span>
          </span>
      </label>
      <div class="input-group input-group-merge">
          <input class="js-toggle-password form-control form-control-lg" type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2" placeholder="8+ символов" aria-autocomplete="list">
      </div>
      {% if form.new_password2.errors %}
          <div class="alert alert-soft-danger mt-2" role="alert">
              {% for error in form.new_password2.errors %}
                  <span>
                      {% if error == "The two password fields didn't match." %}
                          Пароли не совпадают.
                      {% else %}
                          {{ error }}
                      {% endif %}
                  </span>
              {% endfor %}
          </div>
      {% endif %}
  </div>
  <!-- End Form -->
  
  <div class="d-grid">
      <button type="submit" class="btn btn-primary btn-lg">Сбросить пароль</button>
  </div>
</form>
<!-- End Form -->
{% endblock %}