{% extends 'customizer/base/index.html' %}
{% load static %}
{% block link-css %}

{% endblock %}
{% block title %}{{title}}{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'assets-admin/highlight/atom-one-dark.min.css' %}"></link>

<style>
    .code-block {
        position: relative;
        border-radius: 5px !important;
        overflow: hidden;
    }
    pre {
        display: block;
        margin-bottom: 0;
        }

    .copy-button {
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 5px 10px;
        background-color: #f5f5f5;
        border: none;
        cursor: pointer;
        border-radius: 5px;
    }

</style>

</head>
<body>
<div class="container ">
<!-- Heading -->
<div class="mb-4">

    
    {% if domain == "example.com" %}
    <h2>Добавьте домен вашей школы</h2>
    <p class="fs-4">Чтобы получить скрипт, введите домен вашей школы и нажмите кнопку «Сохранить»</p>
    {% else %}
    <h2>Внедрите код</h2>
    <p class="fs-4">Скопируйте скрипт вашей темы и добавьте его в раздел <a class="link"  target="_blank" href="https://admin.accelonline.io/settings/school/code">внедрение</a> кода в настройках школы, в поле «Код заголовка»</p>
    {% endif %}
</div>

<div class="mt-2">
<form action="" method="POST">
    {% csrf_token %}
<label for="basic-url" class="form-label">Домен школы</label>
<div class="input-group mb-3">
    <span class="input-group-text" name="domains" id="basic-addon3">https://</span>
    <input name="domain" placeholder="example.com" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" required value="{% if domain != "example.com" %}{{domain}}{% endif %}">
    <button type="submit" class="btn btn-primary" >Сохранить</a>
  </div>

</div>

{% if domain != "example.com" %}
<div class="mt-2">
<label for="basic-url" class="form-label">Ваш скрипт</label>
<div class="code-block">
    <button class="copy-button">Copy</button>
    <pre><code class="language-javascript">
        &lt;script&gt;
            var uuid = `{{uuid}}`;
            var domain = window.location.hostname;
            var baseUrl = `https://customize.technoguru.club/user/`;
            var headElement = document.head;
        
            ['style.css', 'script.js'].forEach(function(file) {
                var element = document.createElement(file.endsWith('.css') ? 'link' : 'script');
                if (file.endsWith('.css')) {
                    element.rel = 'stylesheet';
                    element.href = `${baseUrl}${file}?uuid=${uuid}&d=${domain}&4`;
                } else {
                    element.src = `${baseUrl}${file}?uuid=${uuid}&d=${domain}&4`;
                }
                headElement.appendChild(element);
            });
        
        &lt;/script&gt;
        </code></pre>
        
    
    
</div>

{% endif %}
<script src="{% static 'assets-admin/highlight/highlight.min.js' %}"></script>
<script src="{% static 'assets-admin/highlight/clipboard.min.js' %}"></script>
<script>
hljs.highlightAll();

document.addEventListener('DOMContentLoaded', function () {
    var clipboard = new ClipboardJS('.copy-button', {
        target: function(trigger) {
            return trigger.nextElementSibling.querySelector('code');
        }
    });

    clipboard.on('success', function(e) {
        e.clearSelection();
        e.trigger.textContent = 'Copied!';
        setTimeout(function() {
            e.trigger.textContent = 'Copy';
        }, 2000);
    });

    clipboard.on('error', function(e) {
        e.trigger.textContent = 'Failed!';
        setTimeout(function() {
            e.trigger.textContent = 'Copy';
        }, 2000);
    });

    new ClipboardJS('.js-clipboard');
});
</script>
{% endblock %}
{% block my_scripts %}
{% endblock %}


