<div class="row mb-3" {% if name == 'main_color' %}id="display_{{name}}_"{% else %}id="display_{{name}}"{% endif %}  {% if display_none %}style="display: none;"{% endif %}>
    <label class="col-sm-5 col-form-label">{{ label }}</label>
    <div class="col-sm-7">
        <div class="input-group input-group-md-vertical">
            <input type="color" id="{{ name }}Picker" name="{{ name }}" value="{{ value }}" style="max-width: 60px;border-radius: 0.2rem">
            <input type="text" id="{{ name }}Hex" class="form-control" value="{{ value }}">
        </div>
    </div>
</div>