
<!-- Начало слоёв эмулятора ( перенос в assets-admin/emulator/style.css ) -->
<style>
    .base-layer {
        position: relative;
        z-index: 1;
    }
  
    .content-layer {
        position: relative;
        z-index: 2;
    }
  
    .overlay-layer {
        position: relative;
        z-index: 3;
    }
  
    .top-layer {
        position: relative;
        z-index: 5;
    }
  
    .device-browser-frame {
        position: relative;
        z-index: 4;
    }
  
  
    /* Настройка элементов в .input-group */
    .input-group-md-vertical {
        display: flex;
        align-items: center;
    }
  
    .input-group-md-vertical input[type="color"] {
        border-radius: 0.4rem;
        border: 0px;
        padding: 0.375rem;
        margin-right: 10px;
        height: 38px;
        cursor: pointer;
    }
  
    .input-group-md-vertical .form-control {
        height: 38px;
    }
  
    .input-group>.form-control, 
    .input-group>input[type="color"] {
        margin-left: 0 !important;
        border-top-left-radius: 0.25rem !important;
        border-bottom-left-radius: 0.25rem !important;
    }
  
    .device-browser-frame {
      background: none !important;
    }
  
  
    .divider-start {
      color: #ffffff !important;
    }
  
    .col-form-label {
      color: #91989e !important;
    }
  </style>

  <!-- Конец слоёв эмулятора ( перенос в assets-admin/emulator/style.css ) -->

  
  