<div style="text-align: center;" >
    <p class="social-p">Социальные сети:</p>
    <div class="social-links">
        {% if theme_settings.telegram_url %}
            <a href="{{ theme_settings.telegram_url }}" target="_blank">
                <button class="social-button">
                    <!-- SVG для Телеграма -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="social-svg-icon" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.287 5.906q-1.168.486-4.666 2.01..."/>
                    </svg>
                </button>
            </a>
        {% endif %}
    
        {% if theme_settings.instagram_url %}
            <a href="{{ theme_settings.instagram_url }}" target="_blank">
                <button class="social-button">
                    <!-- SVG для Инстаграма -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="social-svg-icon" viewBox="0 0 16 16">
                        <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222..."/>
                    </svg>
                </button>
            </a>
        {% endif %}
    
        {% if theme_settings.vk_url %}
            <a href="{{ theme_settings.vk_url }}" target="_blank">
                <button class="social-button">
                    <!-- SVG для ВКонтакте -->
                    <svg width="18" height="11" viewBox="0 0 18 11" class="social-svg-icon social-svg-icon-stroke" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1.69565H3.78261C3.78261 1.69565 5.38957 5.86956 6.91304 5.86956..."/>
                    </svg>
                </button>
            </a>
        {% endif %}
    
        {% if theme_settings.youtube_url %}
            <a href="{{ theme_settings.youtube_url }}" target="_blank">
                <button class="social-button">
                    <!-- SVG для YouTube -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="social-svg-icon" viewBox="0 0 16 16">
                        <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01..."/>
                    </svg>
                </button>
            </a>
        {% endif %}
    
        {% if theme_settings.whatsapp_url %}
            <a href="{{ theme_settings.whatsapp_url }}" target="_blank">
                <button class="social-button">
                    <!-- SVG для WhatsApp -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="social-svg-icon" viewBox="0 0 16 16">
                        <path d="M13.601 2.326A7.85 7.85 0 0 0 7.994 0C3.627 0 .068 3.558.064..."/>
                    </svg>
                </button>
            </a>
        {% endif %}
    
        {% if theme_settings.x_url %}
            <a href="{{ theme_settings.x_url }}" target="_blank">
                <button class="social-button">
                    <!-- SVG для X (Twitter) -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="social-svg-icon" viewBox="0 0 16 16">
                        <path d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867..."/>
                    </svg>
                </button>
            </a>
        {% endif %}
    </div>
    
</div>